html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}


.flashy{
	border-style: groove;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 130%;
	border-width: min-width;
	background-color: blanchedalmond;
	color:saddlebrown;
	align-items: center;
	align-self: center;
	padding: 12px;
}



.container {
  background:hsl(0, 33%, 99%);
  color:#00b7f5;
  margin: 0 auto;
}
#sticky_top{ /*the flexbox containing the header and navbar*/
	display:flex;
	position: sticky;
	top: 0;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}
.header{
	order: 1;
	text-align: center;
	font-family:Courier New;
	font-size:  190%;
	border-style: solid;
	border-color: black;
	color: salmon;
	background-image: url("../pics/n.gif");
	max-height: 120px;
	width: 100%;
	flex-wrap: wrap;
	padding-bottom: 10px;
}

.navigation_bar{
	display: flex;
	flex-direction: row;
	margin: 0;
	order: 2;
	text-decoration: none;
	padding-top: 2px;
	padding-bottom: 2px;
	background: #00ccff;
	flex-wrap: wrap;
	list-style: none;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;
	width: 100%;
	min-height: 50px;
	font-size: medium;
	padding-top: 5px;
}
.navigation_bar a {
	text-decoration: none;
	padding: 10px;
	color: white;
	font-size: 25px;
}
.navigation_bar a:hover {
	background: #008ebd;
}

/*define behaviour for links */
a:link {
	text-decoration: none;
}
a:visited{
	text-decoration: underline;
}
a:hover{
	text-decoration: underline;
	text-shadow: blueviolet;
	text-decoration-color: black;
}
a:active{
	color:black;
	text-decoration: underline;
	text-decoration-color: white;
}

.footer {
	margin-top: 100px;
	color: saddlebrown;
	border-style: groove;
	border-color: saddlebrown;
	background-color: blanchedalmond;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	justify-content: space-around;
	gap: 10px, 10px;
	align-items: center;
	font-weight: bold;
	font-family: Times New Roman;
}

body{
	background-color:palegoldenrod;
	background-image: url("../pics/hi1.png");
}

p {
	background-color: saddlebrown;
	border-style: groove;
	color: lightgoldenrodyellow;
}


.divider{
	border-top: 15px dashed blanchedalmond;
	margin-top: 10px;
	border-style: groove;
}


#intro{
	text-align: center;
	font-family: Courier New;
	font-weight: bold;
	font-size: 150%;
	background-color: saddlebrown;
	margin: 5px;
	background-size: cover;
	width: 100%;
	color: lightgoldenrodyellow;
	height: 100%;
	padding: 20px;
	height: fit-content;
	flex-wrap: wrap;
	border-style: groove;
	border-color: lightgoldenrodyellow;
}

/* STUFF FOR FORMS BELOW */
#register_prompt{
	text-align: center;
}


form{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
}

input[type=text], input[type=password], input[type="number"], select {
	width: 25%;
	padding: 12px;
	margin: 5px;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 18px;
	text-align: center;
}

textarea{
	font-size: 15px;
	margin: 5px;
}

button{
	background-color: antiquewhite;
	padding: 10px;
	margin: 10px;
	font-size: 16px;
	border-radius: 15px;
	border-color: greenyellow;
}
button:hover{
	background-color: white;
	color:tomato;
	transition-duration: .3s;
	box-shadow: 0 5px 10px rgb(173, 168, 168);
}
/* end */

/* media query RESPONSIVE SITE HOURS*/
@media all and (max-width: 720px){
	body{
		background: rgb(102, 141, 214);
		color:navy
	}

/*below is the header section*/
	.headings {
		color: whitesmoke;
		font-size: 140%;
		font-family: Courier New;
	}
	.upper {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		color: whitesmoke;
		font-size: 100%;
		border-color: salmon;
		border-style: solid;
	}
	.lower {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		color: whitesmoke;
		border-color: salmon;
		border-style: solid;
		font-size: small;
	}
	p{
		color:aliceblue;
		font-size: smaller;
	}
	.cell_item{
		border-style: groove;
	}

	.navigation_bar{
		padding: 15px;
	}

	.navigation_bar a {
		font-size: 20px;
		font-family: sans-serif;
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.header {
		font-size: 160%;
	}

	.signature
	{	font-family: sans-serif;
		font-weight: bold;
	}
}

/* things i dont want to have show up in the html */
.py_only{
	display: none;
	visibility: hidden;
}

.blurb{
	text-align: center;
	font-size: large;
}

