<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/labs.css">
    <title>CSCB20 Labs</title>
</head>

<body>

    <div id="sticky_top">
        <div class="header">
            <h2>CSCB20 Labs</h2>       
        </div>

            <!--Intuition: a navigation bar is an unordered list of links, figure out horizontal stuff in CSS-->
            <div class="navigation_bar">          
                <strong>
                    {% if session.name %}
                        {% if session.type == 'Student' %} <!--for when user is logged in as student-->
                        <!--these are the student pages-->
                        <a href="{{ url_for('stu_home') }}">Home Page</a> 
                        <a href="{{ url_for('submit_feedback') }}">Submit Feedback</a>

                        {% else %}  <!--for when user is logged in as instructor: session.type == 'Instructor'-->
                        <a href="{{ url_for('instr_home') }}">Home Page</a> 
                        <a href="{{ url_for('view_feedback') }}">View Feedback</a>
                        <a href="{{ url_for('view_remark') }}">View Remark Requests</a>
                        <a href="{{ url_for('enter_marks') }}">Enter Marks</a>             
                        {% endif %}

                        <!--these are the A2 pages (common to both users)-->
                        <a href="{{ url_for('index') }}">Course Home</a>
                        <a href="{{ url_for('course_team') }}">Course Team</a>
                        <a href="{{ url_for('lectures') }}">Lectures</a>
                        <a href="../static/docs/syllabus.pdf" target="_blank">Syllabus</a>
                        <a href="{{ url_for('weekly_schedule') }}">Weekly Schedule</a>
                        <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="_blank">Markus</a>
                        <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank">Piazza</a>
                        <a href="{{ url_for('assignments') }}">Assignments</a>
                        <a href="{{ url_for('labs') }}">Labs</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                        <!--logout page-->
                        <a href="{{ url_for('login') }}">Login</a>
                        <a href="{{ url_for('register') }}">Register</a>
                        <a href="{{ url_for('index') }}">Home</a>
                    {% endif %}
                </strong>
            </div>

        </div>
    </div>
    <hr class = "divider">


    <div id="overview">
        <h3>
            Lab Information 
        </h3>
        <p class="blurb">
            Labs will be done during tutorial times listed on ACORN. Please attend every tutorial as you get to have hands-on experience in applying the concepts learned in class.
        </p>
        <p class="blurb">
            Tutorials are held starting in the second week. Please refer to the Weekly Schedule page or ACORN to find your time and location.
        </p>
    </div>



    <hr class = "divider">

    <!--table starts here-->
    <div class = "table">
        <div class = "row">
            <div class = "cell">Week</div>
            <div class = "cell">Lab Handout</div>
            <div class = "cell">Solutions</div>
        </div>

        <div class = "row">
            <div class = "cell">1 </div>
            <div class = "cell"><a href="../static/docs/lab.pdf">handout1</a></div>
            <div class = "cell"><a href="../static/docs/lab_soln.pdf">Solutions1</a></div>
        </div>

        <div class = "row">
            <div class = "cell">2 </div>
            <div class = "cell"><a href="../static/docs/lab.pdf">handout2</a></div>
            <div class = "cell"><a href="../static/docs/lab_soln.pdf">Solutions2</a></div>
        </div>

        <div class = "row">
            <div class = "cell">3</div>
            <div class = "cell"><a href="../static/docs/lab.pdf">handout3</a></div>
            <div class = "cell"><a href="../static/docs/lab_soln.pdf">Solutions3</a></div>
        </div>

        <div class = "row">
            <div class = "cell">Reading Week! </div>
        </div>

        <div class = "row">
            <div class = "cell">5 </div>
            <div class = "cell"><a href="../static/docs/lab.pdf">handout5</a></div>
            <div class = "cell"><a href="../static/docs/lab_soln.pdf">Solutions5</a></div>
        </div>

        <div class = "row">
            <div class = "cell">6 </div>
            <div class = "cell"><a href="../static/docs/lab.pdf">handout6</a></div>
            <div class = "cell"><a href="../static/docs/lab_soln.pdf">Solutions6</a></div>
        </div>

        <div class = "row">
            <div class = "cell">7 </div>
            <div class = "cell"><a href="../static/docs/lab.pdf">handout7</a></div>
            <div class = "cell"><a href="../static/docs/lab_soln.pdf">Solutions7</a></div>
        </div>

        <div class = "row">
            <div class = "cell">8 </div>
            <div class = "cell"><a href="../static/docs/lab.pdf">handout8</a></div>
            <div class = "cell"><a href="../static/docs/lab_soln.pdf">Solutions8</a></div>
        </div>

        <div class = "row">
            <div class = "cell">9 </div>
            <div class = "cell"><a href="../static/docs/lab.pdf">handout9</a></div>
            <div class = "cell"><a href="../static/docs/lab_soln.pdf">Solutions9</a></div>
        </div>

        <div class = "row">
            <div class = "cell">10 </div>
            <div class = "cell"><a href="../static/docs/lab.pdf">handout10</a></div>
            <div class = "cell"><a href="../static/docs/lab_soln.pdf">Solutions10</a></div>
        </div>

                <div class = "row">
            <div class = "cell">11 </div>
            <div class = "cell"><a href="../static/docs/lab.pdf">handout11</a></div>
            <div class = "cell"><a href="../static/docs/lab_soln.pdf">Solutions11</a></div>
        </div>

                <div class = "row">
            <div class = "cell">12 </div>
            <div class = "cell"><a href="../static/docs/lab.pdf">handout12</a></div>
            <div class = "cell"><a href="../static/docs/lab_soln.pdf">Solutions12</a></div>
        </div>

    </div>

    <hr class = "divider">
 
    <div class="footer">
        <div><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT</a></div>
        <div><img src="../static/pics/UofT.png" class="footer_pic" alt="UofT is no more"></div>
        <div><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">image source</a></div>
        <div><p class="signature">Site designed by Raymond Moy</p></div>
        <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures.html">slides source</a>
    </div>
</body>

</html>