<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../static/css/lectures.css">
    <title>CSCB20 Lectures</title> <!---name tentative-->
</head>

<body>

    <div id="sticky_top">
        <div class="header">
            <h2>CSCB20 Lectures</h2>       
        </div>

            <!--Intuition: a navigation bar is an unordered list of links, figure out horizontal stuff in CSS-->
            <div class="navigation_bar">          
                <strong>
                    {% if session.name %}
                        {% if session.type == 'Student' %} <!--for when user is logged in as student-->
                        <!--these are the student pages-->
                        <a href="{{ url_for('stu_home') }}">Home Page</a> 
                        <a href="{{ url_for('submit_feedback') }}">Submit Feedback</a>

                        {% else %}  <!--for when user is logged in as instructor: session.type == 'Instructor'-->
                        <a href="{{ url_for('instr_home') }}">Home Page</a> 
                        <a href="{{ url_for('view_feedback') }}">View Feedback</a>
                        <a href="{{ url_for('view_remark') }}">View Remark Requests</a>
                        <a href="{{ url_for('enter_marks') }}">Enter Marks</a>             
                        {% endif %}

                        <!--these are the A2 pages (common to both users)-->
                        <a href="{{ url_for('index') }}">Course Home</a>
                        <a href="{{ url_for('course_team') }}">Course Team</a>
                        <a href="{{ url_for('lectures') }}">Lectures</a>
                        <a href="../static/docs/syllabus.pdf" target="_blank">Syllabus</a>
                        <a href="{{ url_for('weekly_schedule') }}">Weekly Schedule</a>
                        <a href="https://markus.utsc.utoronto.ca/cscb20w22/assignments" target="_blank">Markus</a>
                        <a href="https://piazza.com/class/kxj5alixpjg4ft" target="_blank">Piazza</a>
                        <a href="{{ url_for('assignments') }}">Assignments</a>
                        <a href="{{ url_for('labs') }}">Labs</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    {% else %}
                        <!--logout page-->
                        <a href="{{ url_for('login') }}">Login</a>
                        <a href="{{ url_for('register') }}">Register</a>
                        <a href="{{ url_for('index') }}">Home</a>
                    {% endif %}
                </strong>
            </div>
        </div>
    </div>

    <hr class = "divider">

    <div id="welcome">
        <div id="welcome_text">
            <h2>
               Lectures are in HW 216 from Mondays 9-11AM
            </h2>
        </div>    
    </div>

    <hr class = "divider">

    <div class = "table">

        <div class = "row">
            <div class = "cell">Week</div>
            <div class = "cell">Topic </div>
            <div class = "cell">Reference Notes</div>
            <div class = "cell">Slide Shows </div>
        </div>

        <div class = "row">
            <div class = "cell"><p>1</p></div>
            <div class = "cell"><p>Introduction, Databases background</p></div>
            <div class = "cell"><a href="../static/docs/lec_notes.pdf">lecture notes</a></div>
            <div class = "cell"><a href="../static/docs/slides.pdf">in class slides</a></div>
        </div>
        
        <div class = "row">
            <div class = "cell"><p>2</p></div>
            <div class = "cell"><p>Schema Diagrams, Relational Algebra</p></div>
            <div class = "cell"><a href="../static/docs/lec_notes.pdf">lecture notes</a></div>
            <div class = "cell"><a href="../static/docs/slides.pdf">in class slides</a></div>
        </div>

        <div class = "row">
            <div class = "cell"><p>3</p></div>
            <div class = "cell"><p>SQL and MySQL</p></div>
            <div class = "cell"><a href="../static/docs/lec_notes.pdf">lecture notes</a></div>
            <div class = "cell"><a href="../static/docs/slides.pdf">in class slides</a></div>
        </div>

        <div class = "row">
            <div class = "cell"><p>Reading Week!</p></div>
            <div class = "cell"><p></p></div>
            <div class = "cell"><a href="../static/docs/lec_notes.pdf"></a></div>
            <div class = "cell"><a href="../static/docs/slides.pdf"></a></div>
        </div>

        <div class = "row">
            <div class = "cell"><p>5</p></div>
            <div class = "cell"><p>MySQL Outer Joins, Views, NULL, string functions, HTML</p></div>
            <div class = "cell"><a href="../static/docs/lec_notes.pdf">lecture notes</a></div>
            <div class = "cell"><a href="../static/docs/slides.pdf">in class slides</a></div>
        </div>

        <div class = "row">
            <div class = "cell"><p>6</p></div>
            <div class = "cell"><p>HTML, CSS</p></div>
            <div class = "cell"><a href="../static/docs/lec_notes.pdf">lecture notes</a></div>
            <div class = "cell"><a href="../static/docs/slides.pdf">in class slides</a></div>
        </div>

        <div class = "row">
            <div class = "cell"><p>7</p></div>
            <div class = "cell"><p>PHP</p></div>
            <div class = "cell"><a href="../static/docs/lec_notes.pdf">lecture notes</a></div>
            <div class = "cell"><a href="../static/docs/slides.pdf">in class slides</a></div>
        </div>

        <div class = "row">
            <div class = "cell"><p>8</p></div>
            <div class = "cell"><p>PHP and SQL</p></div>
            <div class = "cell"><a href="../static/docs/lec_notes.pdf">lecture notes</a></div>
            <div class = "cell"><a href="../static/docs/slides.pdf">in class slides</a></div>
        </div>

        <div class = "row">
            <div class = "cell"><p>9</p></div>
            <div class = "cell"><p>JavaScript and jQuery</p></div>
            <div class = "cell"><a href="../static/docs/lec_notes.pdf">lecture notes</a></div>
            <div class = "cell"><a href="../static/docs/slides.pdf">in class slides</a></div>
        </div>

        <div class = "row">
            <div class = "cell"><p>10</p></div>
            <div class = "cell"><p>jQuery, JSON</p></div>
            <div class = "cell"><a href="../static/docs/lec_notes.pdf">lecture notes</a></div>
            <div class = "cell"><a href="../static/docs/slides.pdf">in class slides</a></div>
        </div>

                <div class = "row">
            <div class = "cell"><p>11</p></div>
            <div class = "cell"><p>AJAX</p></div>
            <div class = "cell"><a href="../static/docs/lec_notes.pdf">lecture notes</a></div>
            <div class = "cell"><a href="../static/docs/slides.pdf">in class slides</a></div>
        </div>

                <div class = "row">
            <div class = "cell"><p>12</p></div>
            <div class = "cell"><p>FINAL REVIEW</p></div>
            <div class = "cell"><a href="../static/docs/lec_notes.pdf">lecture notes</a></div>
            <div class = "cell"><a href="../static/docs/slides.pdf">in class slides</a></div>
        </div>
    </div>

    <hr class = "divider">
 
    <div class="footer">
        <div><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">Faculty of Computer Science at UofT</a></div>
        <div><img src="../static/pics/UofT.png" class="footer_pic" alt="UofT is no more"></div>
        <div><a href="https://www.utsc.utoronto.ca/cms/faculty-of-computer-science">image source</a></div>
        <div><p class="signature">Site designed by Raymond Moy</p></div>
        <a href="https://www.utsc.utoronto.ca/~bretscher/b20/lectures.html">slides source</a>
    </div>
</body>
</html>