{% extends "template.html" %}

{% block content %}

    <p id="register_prompt">Please enter your account details to sign up</p>
    <br>

    <form action="http://127.0.0.1:5000/register" method = "post">
        <label for="username">Username</label>
        <input type="text" id="Username" name="Username">

        <label for="mail"> Email </label>
        <input type="text" id="Email" name="Email">

        <label for="Password">Password</label>
        <input type="text" id="Password" name="Password">
        
        <p>Please select your account type.</p>
        <label for="Student">Student</label>
        <input type="radio" class="Acc_Type" name="Acc_Type" value="Student">
        
        <label for="Instructor">Instructor</label>
        <input type="radio" class="Acc_Type" name="Acc_Type" value="Instructor">
        
        <button type="register">Register</button>
    </form>

{% endblock %}